<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DPGithub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D83631871F98CB5700E5FED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D83631A01F98CB5800E5FED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D83631AB1F98CB5800E5FED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
